#ulNav{
    margin-left:23%;
}

#ulNav>li{
    margin-left:70px;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    
}
#ulNav>li>a{
    color:white !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#ulNav>li>a:hover {
    color:red !important;
}
body{
    background-image:linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, black, black 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
.navbar{
    background-color: transparent !important;
    border-color:transparent !important;
}
.course1{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel.png');
    background-size: cover;
    overflow:hidden;

}
.course1:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses1{
    margin-top:120px;
    display:none;
    
}


.course2{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel1.png');
    background-size: cover;
    overflow:hidden;
}
.course2:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses2{
    margin-top:120px;
    display:none;
}


.course3{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel2.png');
    background-size: cover;
    overflow:hidden;
}
.course3:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses3{
    margin-top:120px;
    display:none;
}



.course4{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel3.png');
    background-size: cover;
    overflow:hidden;
}
.course4:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses4{
    margin-top:120px;
    display:none;
}


.course5{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel4.png');
    background-size: cover;
    overflow:hidden;
}
.course5:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses5{
    margin-top:120px;
    display:none;
}


.course6{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel5.png');
    background-size: cover;
    overflow:hidden;
}
.course6:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses6{
    margin-top:120px;
    display:none;
}

.course7{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel6.png');
    background-size: cover;
    overflow:hidden;
}
.course7:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses7{
    margin-top:120px;
    display:none;
}

.course8{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel7.png');
    background-size: cover;
    overflow:hidden;
}
.course8:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses8{
    margin-top:120px;
    display:none;
}

.course9{
    width:250px;
    height:250px;
    margin-left:50px;
    display:inline-block;
    background-image:url('../res/tracks/Objet\ dynamique\ vectoriel8.png');
    background-size: cover;
    overflow:hidden;
}
.course9:hover{
    background-color:black;
    opacity: 0.5;
}
.btnCourses9{
    margin-top:120px;
    display:none;
}


.btnCourses1Hover{
    display:inline !important;
    opacity: 1 !important;
}



h1{
    color:white !important;
}



.cover {
    width: 100%;
    height: 450px;
    padding: 50px;
    background-image: url('../res/webdev3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 87px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, .5);
    box-sizing: border-box;
}

.cover .heading {
    font-size: 6em;
    font-family: 'Bree Serif', serif;
    color: #fff;
    position: relative;
    top: 40%;
   
    text-shadow: 5px 2px rgb(12, 11, 11);
}


/* General styling */
.heading {
    color: rgb(34, 50, 95);
    font-size: 4em;
    font-family: 'Bree Serif', serif;
    margin: 30px 0 40px 500px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

label{
    color:white !important;
}

#fade{
    display:none;
}

#contactForm>div>input{
    width:250px;
}
#contactForm>div>select{
    width:250px;
}