
   body{ background-image:  Linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%)
    , Linear-gradient(127deg, black, black 70.71%)
     ,Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    margin: 0em;
    padding: 0em;
 
}
.header{
    background-repeat: no-repeat;
    width: 5%;
    height: 5%;
}

 ul{ 
    
   
    display: flex;
  
}
a li {
    list-style: none;
}
a{
    font-weight: 900;
    font-size: 40px;
    color: white;
    margin-right: 10%;
    margin-left: 10%;
    text-decoration: none;
    
    display: inline-block;
    width: 100%;
    height: 50px;
}
a:hover{
    color: honeydew;
}

a:active {
    color: aqua;
}
img{
    width: 100%;
}
.img{
    width: 30%;
    height: 30%;
    margin-left: 30px;
    margin-top: 30px;
    display: inline-block;
}
#image {
    background-image: url("couses123.webp");
    height: 300px;
    background-repeat: no-repeat;
    background-size:cover;
    font-size: 100px;
    color:white;
    padding: 10%;
    margin-top: 0em;
    

}